<!DOCTYPE html>
<html>
    <head>
        <title>Humanity First</title>
        <% include ./partials/head %>
    </head>
    <body>
        <% include ./partials/nav %>
        <div id="parallax-world-of-ugg">
            <section>
                <div class="title">
                    <h3>Come. What. May.</h3>
                    <h1>Humanity First</h1>
                   
                </div>
            </section>

            <section>
                <div class="parallax-one"><h2>Law Enforcement</h2></div>
            </section>

            <section>
                <div class="block">
                    <p>
                        <span class="first-character sc">W</span>hen shit hits the fan you can count on the law enforcement team. Heres more words to make this paragraph seem longer and that it has meaningful content. It totally doesn't, but it absolutely looks like it does.
                    </p>
                    <p class="line-break margin-top-10"></p>
                    <h5 style='text-align: center; padding-top: 10px;'>Officers Creed</h5>
                    <p class="margin-top-10">
                        As a law enforcement officer, my fundamental duty is to serve the community; to safeguard lives and property; to protect the innocent against deception, the weak against oppression or intimidation and the peaceful against violence or disorder; and to respect the constitutional rights of all to liberty, equality, and justice.
                        </br><br>I will keep my private life unsullied as an example to all and will behave in a manner that does not bring discredit to me or to my agency. I will maintain courageous calm in the face of danger, scorn or ridicule; develop self-restraint; and be constantly mindful of the welfare of others. Honest in thought and deed both in my personal and official life, I will be exemplary in obeying the law and the regulations of my department. Whatever I see or hear of a confidential nature or that is confided to me in my official capacity will be kept ever secret unless revelation is necessary in the performance of my duty.<br><br>I will never act officiously or permit personal feelings, prejudices, political beliefs, aspirations, animosities or friendships to influence my decisions. With no compromise for crime and with relentless prosecution of criminals, I will enforce the law courteously and appropriately without fear or favor, malice or ill will, never employing unnecessary force or violence and never accepting gratuities.<br><br>I recognize the badge of my office as a symbol of public faith, and I accept it as a public trust to be held so long as I am true to the ethics of police service. I will never engage in acts of corruption or bribery, nor will I condone such acts by other police officers. I will cooperate with all legally authorized agencies and their representatives in the pursuit of justice.
                        <br><br>I know that I alone am responsible for my own standard of professional performance and will take every reasonable opportunity to enhance and improve my level of knowledge and competence.
                        <br><br>I will constantly strive to achieve these objectives and ideals, dedicating myself before God to my chosen profession… law enforcement.
                    </p>
                </div>
            </section>

            <section>
                <div class="parallax-two">
                    <h2>Fire/Rescue</h2>
                </div>
            </section>

            <section>
                <div class="block">
                    <p>
                        <span class="first-character ny">F</span>irefighters are a unique group who experience situations most of us will never confront in our lifetimes. That provides them many opportunities to contemplate the human experience from a perspective we may have difficulty understanding.
                    </p>
                    <p class="line-break margin-top-10"></p>
                    <h5 style='text-align: center; padding-top: 10px;'>Fire Fighters Pledge</h5>
                    <p class="margin-top-10">
                    I promise concern for others. A willingness to help all those in need.<br><br>I pray for courage - courage to face and conquer my fears. Courage to share and endure the ordeal of those who need me. I will build strength - strength of heart to keep and bear whatever burdens might be placed upon me. Strength of body to deliver to safety all those placed within my care.<br><br>I seek the wisdom to lead, the compassion to comfort, and the love to serve unselfishly whenever I am called.<br><br>This I pledge
                    </p>
                </div>
            </section>

            <section>
                <div class="parallax-three">
                    <h2>Medical Services</h2>
                </div>
            </section>

            <section>
                <div class="block">
                    <p>
                        <span class="first-character atw">S</span>o others may live, I know thats a chair force PJ thing, but they honestly have the best slogan, motto, or whatever you want to call it. Medical professionals will always be there to do what they do best.. Cheat death. 
                    </p>
                    <p class="line-break margin-top-10"></p>
                    <h5 style='text-align: center; padding-top: 10px;'>BAMF Pledge</h5>
                    <p class="margin-top-10">
                    I solemnly pledge myself before God and these witnesses to practice faithfully all of my duties as a member of the Hospital Corps. <br><br>I hold the care of the sick and injured to be a privilege and a sacred trust and will assist the Medical Officer with loyalty and honesty. I will not knowingly permit harm to come to any patient.<br><br> I will not partake of nor administer any unauthorized medication. I will hold all personal matters pertaining to the private lives of patients in strict confidence. <br><br>I dedicate my heart, mind and strength to the work before me. I shall do all within my power to show in myself an example of all that is honorable and good throughout my naval career.
                    </p>
                </div>
            </section>
        </div>

        <% include ./partials/footer %> <% include ./partials/scripts %>
    </body>
</html>
