<!DOCTYPE html>
<html>
    <head>
        <title>Firefighters/Paramedics</title>
        <% include ../partials/head %>
    </head>
    <body>
        <img src='/images/404.png' class="card-img-top" alt="..." />
        <% include ../partials/scripts %>
    </body>
</html>
