<!DOCTYPE html>
<html>
    <head>
        <title>Details</title>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/nav %>

        <div class="ambu-background" >
            <% const {picture, name, credentials, email} = user %>
                        <div class="col-md-4" style="width:20rem;">
                            <div class="card">
                                <img src="<%= picture %>" class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title"><%= name %></h5>
                                    <p class="card-text"><%= credentials %> </p>
                                    <a href="/api/industry/details/<%= email %> " class='btn btn-primary'>Select</a>
                                </div>
                            </div>
                        </br>
                        </div>
        </div>


        <% include ../partials/footer %> <% include ../partials/scripts %>
    </body>
</html>
