<!DOCTYPE html>
<html>
    <head>
        <title>Recommendations</title>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/nav %>

        <div>
            <div class="container"> 
            <h1 style='text-align: center; padding-top: 100px'>RECOMMENDATIONS FOR COVID-19</h1>
            <div class="row">
                
                    <div class="col-md-4" style="width:20rem; padding-bottom: 30px;">
                        <div class="card">
                            <a href="https://www.cdc.gov/"><img src='/images/cdc.png' class="card-img-top" alt="..." /></a>
                            <div class="card-body">
                                <h5 class="card-title">Center for Disease Control</h5>
                                
                            </div>
                        </div>
                    </div>
                    
                        <div class="col-md-4" style="width:20rem;">
                        <div class="card">
                            <a href="https://www.whitehouse.gov/wp-content/uploads/2020/03/03.16.20_coronavirus-guidance_8.5x11_315PM.pdf"><img src='/images/covid.jpg' class="card-img-top" alt="..." /></a>
                            <div class="card-body">
                                <h5 class="card-title">White House Guidelines</h5>
                               
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4" style="width:20rem;">
                        <div class="card">
                            <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports"><img src='/images/sitrep.jpg' class="card-img-top" alt="..." /></a>
                            <div class="card-body">
                                <h5 class="card-title">COVID-19 Daily Sitrep</h5>
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4" style="width:20rem;">
                        <div class="card">
                            <a href="https://www.youtube.com/watch?v=seA1wbXUQTs"><img src='/images/washhands.png' class="card-img-top" alt="..." /></a>
                            <div class="card-body">
                                <h5 class="card-title">How to wash your hands</h5>
                                <p>in case you're a total idiot</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4" style="width:20rem;">
                        <div class="card">
                            <a href="https://www.gofundme.com/f/a-million-masks-coronavirus-support-fund"><img src='/images/masks.jpg' class="card-img-top" alt="..." /></a>
                            <div class="card-body">
                                <h5 class="card-title">Million Mask Donations</h5>
                            </div>
                        </div>
                    </div>
                    
            </div>
        </div> 
            

            
        </div>




       
        <% include ../partials/footer %>
        <% include ../partials/scripts %>
    </body>
</html>
