<!DOCTYPE html>
<html>
    <head>
        <title>Services</title>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/nav %>

        <div class="ambu-background" style="height: 100%; width: 100%; color: black;">
            <div style='width: 50%; padding-left: 330px; padding-top:50px'>
                <h3>Volunteer force of public servants</h3>
                <p>We aim to bring together hospitals, fire houses, and police departments the best people that can hit the ground running. If you are a medical facility looking for a qualified candidate to add to your staff or help out in an emergency situation, look no further. Our database can link you up with a number of different people in a wide range of professions- all with impressive backgrounds and resumes. If you are an independent looking for a new job, a place to pitch in when needed, or just volunteer for the greater good then we want you! Sign up and create a profile with all the super neat stuff you can do and we’ll totally pimp you out to the nearest and dearest hospital in the area.</p>
            </div>
        </div>
      
        <% include ../partials/footer %>
        <% include ../partials/scripts %>
    </body>
</html>
